@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.corporate.light');
  color: theme('colors.corporate.dark');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}